{% trans_default_domain 'app' %}
{% extends 'admin/base.html.twig' %}

{# {% block title_page -%}
  {{ 'seo.title.page.dashboard'|trans(domain: 'seo') }}
{%- endblock %} #}

{% set heading = 'ui.nav.dashboard'|trans %}

{% block content %}
  <div class="col-span-12 xl:col-span-12">
    <p>Content</p>
  </div>
{% endblock %}
