@theme {
  /* add your custom theme configurations here */
  --color-primary: rgb(15 23 42);
  --color-danger: #e64848;

  --radius-4xl: 2rem;

  --transition-timing-function-spring: linear(0, 0.0016 0.34%, 0.0084 0.79%, 0.037 1.7%, 0.0897, 0.16 3.73%, 0.3158 5.54%, 0.797 10.52%, 0.9202, 1.0252, 1.1097 14.92%, 1.1687 16.28%, 1.1914 16.96%, 1.2124 17.75%, 1.2259 18.43%, 1.2366 19.22%, 1.2428 20.13%, 1.2427, 1.236, 1.2239, 1.2073 24.2%, 1.1849 25.33%, 1.0576 30.75%, 1.0037 33.47%, 0.9795 35.05%, 0.9624, 0.9505 37.99%, 0.9431 39.57%, 0.9408 41.61%, 0.9454 43.76%, 0.9554 46.02%, 0.9858 51.33%, 0.9985 53.93%, 1.0082 56.76%, 1.0135 59.7%, 1.0145 61.85%, 1.0133 64.33%, 1.0006 74.28%, 0.9969 79.71%, 0.9967 84.8%, 1.0007 99.95%);
}

@utility gutter-stable {
  scrollbar-gutter: auto;
}
