{% trans_default_domain 'login' %}

<div class="mt-4 bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded-sm flex flex-row justify-between" role="alert">
  <span class="block sm:inline">
    {{- ('login.logged_in_notice'|trans(arguments: {'%username%': app.user.userIdentifier}))|raw -}}
  </span>
  {# dont use path('app_logout') here since it will throw CSRF errors on language change #}
  <a title="logout" href="{{ logout_path('main') }}">
    {{ ux_icon('mdi:logout', { 'font-size': '1.3rem' }) }}
  </a>
</div>
