{% trans_default_domain 'login' %}

<div class="mt-4 bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded-sm flex flex-row justify-between" role="alert">
  <span class="block sm:inline">{{ 'login.logged_in_notice'|trans }} <span class="font-bold">{{ app.user.userIdentifier }}</span>.</span>
  {# dont use path('app_logout') here since it will throw CSRF errors on language change #}
  <a title="logout" href="{{ logout_path('main') }}">
    <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
      <path fill="currentColor" d="m17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5M4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4z" />
    </svg>
  </a>
</div>
