{% extends 'base.html.twig' %}

{# {% block stylesheets %}
  {{ parent() }}
{% endblock %} #}

{% block javascripts %}
  {{ parent() }}
  {{ vite_entry_script_tags('sidebar') }}
{% endblock %}

{% block body %}
  <div class="flex h-screen overflow-y-hidden">
    {% block sidebar %}
      {% include 'admin/partials/_sidebar.html.twig' %}
    {% endblock %}

    <main class="flex flex-col flex-1 min-w-0">
      <div class="flex items-center justify-between h-[57px] border-b px-6 shrink-0">
        <div>
          {% block heading -%}
            {% if heading is defined and heading is not empty -%}
              <h1 class="text-2xl">{{ heading|trim }}</h1>
            {%- endif %}
          {%- endblock %}
        </div>
        <div class="hidden md:block">
          {% include 'admin/partials/_app_version.html.twig' %}
        </div>
      </div>
      <div class="flex-1 overflow-auto py-4 px-6">
        {% block content %}

        {% endblock %}
      </div>
    </main>
  </div>
{% endblock %}
