{% extends 'base.html.twig' %}

{% block stylesheets %}
  {% if app.user %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block javascripts %}
  {% if app.user %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block body %}
  {% if app.user %}
    <div class="flex">
      <div id="sidebar" class="h-screen">
        {% block sidebar %}
          {% include 'admin/partials/_sidebar.html.twig' %}
        {% endblock %}
      </div>

      <div class="flex flex-col w-full">
        <div class="flex items-center h-[57px] border-b px-4">
          {% block heading %}
            {% if heading is defined and heading is not empty %}
              <h1 class="text-2xl">{{ heading|default('') }}</h1>
            {% endif %}
          {% endblock %}
        </div>
        {% block content %}

        {% endblock %}
      </div>
    </div>
  {% endif %}
{% endblock %}
