{% trans_default_domain 'user_management' %}
{% extends 'admin/base.html.twig' %}

{# {% block title_page -%}
  {{ 'seo.title.page.users'|trans(domain='seo') }}
{%- endblock %} #}

{% set heading = 'ui.nav.users'|trans(domain='app') %}

{% block content %}
  <div class="col-span-12 xl:col-span-12">
    {# <div {{ vue_component('DataTable', { users: users }) }}>Loading...</div> #}

    <twig:Table:UserTable :searchEnabled="true" :paginationSelectEnabled="true" />
  </div>
{% endblock %}
