{% trans_default_domain 'user_management' %}
{% extends 'admin/base.html.twig' %}

{% block title_page %}
  {{ 'seo.title_page.users'|trans(domain='app') }}
{% endblock %}

{% set heading = 'ui.nav.users'|trans(domain='app') %}
{% set currentPage = currentPage|default(1) %}

{% block content %}
  {# <div {{ vue_component('DataTable', { users: users }) }}>Loading...</div> #}

  {# <div {{ stimulus_controller('hello') }} class="mb-4">
    <div {{ stimulus_target('hello', 'output') }}></div>
  </div> #}

  <twig:Table:UserTable :currentPage="currentPage"/>
{% endblock %}
