<div>
  <span class="text-slate-400 me-1">Version</span>
  <span class="text-slate-500 rounded-md font-mono px-2 py-1 bg-slate-100 text-sm overflow-clip font-medium shadow-[0_1px_4px_rgba(0,0,0,0.2)]">{{ app_version }}</span>
</div>
