<div class="self-center inline-flex items-center justify-center rounded-md font-mono font-medium shadow-[0_1px_4px_rgba(0,0,0,0.2)] border border-indigo-300 whitespace-nowrap text-indigo-800 text-sm overflow-clip">
  <span class="px-1.5 py-1 bg-indigo-200 font-bold select-none border-r border-indigo-300">v</span>
  <span class="px-2 py-1 bg-indigo-100 [text-shadow:_0_1px_2px_rgba(0,0,0,0.2)]">{{ app_version }}</span>
</div>
