{% extends 'admin/base.html.twig' %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <h1>Dashboard</h1>

  {% if is_granted('IS_IMPERSONATOR') %}
    <a href="{{ impersonation_exit_path(path('app_index')) }}">Exit impersonation</a>
  {% endif %}
{% endblock %}
