{% trans_default_domain 'app' %}
{% extends 'admin/base.html.twig' %}

{%- block title_page -%}
  {{ 'seo.title_page.dashboard'|trans }}
{%- endblock -%}

{% set heading = 'ui.nav.dashboard'|trans %}

{% block content %}
  <p>Content</p>
{% endblock %}
